nav {
    display: flex;
    max-width: 1280px;
    align-items: center;
    background-color: #22b3c1;
    padding: 15px 72px;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.navbar {
    display: flex;
    gap: 120px;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.links {
    display: flex;
    align-items: center;
    gap: 25px;
}

.link, .icon {
    font-size: 15px;
    color: #FFF;
    transition: 0.5s;
}

.link:hover {
    color: #ffffffb6;
}

.lang:hover {
    color: black;
}

.empty {
    width: 100%;
    height: 78px;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger .line {
    display: block;
    width: 40px;
    height: 3px;
    margin-bottom: 10px;
    background-color: #FFF;
}

.nav__link {
    position: fixed;
    width: 100%;
    top: 5rem;
    left: 18px;
    background-color: #f7f7f7;
}

.nav__link a, .nav__link li {
    color: #22b3c1;
    display: block;
    text-align: center;
    padding: 10px 0;
}

.nav__link a:hover {
    background-color: #22b3c1;
    color: #FFF;
}

.hide {
    display: none;
}

.show {
    display: block;
}

@media(max-width:950px) {
    nav {
        padding: 15px 20px;
    }
    .navbar {
        display: none;
    }
    .hamburger {
        display: block;
    }
}
